.article-content a {
  color: #e19808;
  text-decoration: none;
}

.article-content a:hover {
  opacity: 0.8;
  color: #e19808;
  text-decoration: underline;
}

.article-content {
  color: #fff;
}

.article-content p {
  margin-bottom: 1.5rem;
  line-height: 1.75;
  font-size: 1rem;
}

.article-content ul, .article-content ol {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.article-content li {
  margin-bottom: 0.5rem;
}

.modal-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #e19808 #27272a;
}

.modal-scroll-container::-webkit-scrollbar {
  @apply w-2;
}

.modal-scroll-container::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded;
}

.modal-scroll-container::-webkit-scrollbar-thumb {
  @apply bg-rockstar-500 rounded;
}

.modal-scroll-container::-webkit-scrollbar-thumb:hover {
  @apply bg-rockstar-500;
}