.article-background {
  min-height: 100vh;
  color: #fff;
}

.article-background {
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover\:text-orange-500:hover {
  color: #f97316;
}

.share-icons button {
  @apply transition-all duration-400;
}

.share-icons button:hover {
  @apply -translate-y-[2px] duration-400;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  color: var(--rockstar-color);
  transform: translateY(-2px);
}

.accent-heading,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  color: var(--accent-color, #e19808);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  padding-bottom: .5rem;
}
.similar-articles {
  color: #fff;
}
.article-content a {
  color: var(--accent-color, #e19808);
  text-decoration: none;
}

.article-content a:hover {
  opacity: 0.8;
  color: var(--accent-color, #e19808);
  text-decoration: underline;
}

.article-content {
  color: #fff;
}

.article-content p {
  margin-bottom: 1.5rem;
  line-height: 1.75;
  font-size: 1rem;
}

.article-content ul, .article-content ol {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.article-content li {
  margin-bottom: 0.5rem;
}